#login_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 3em 3em 3em 0;
  box-sizing: border-box;
  justify-content: center;
}

#login_dialog {
  padding: 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

#login_header {
  margin-bottom: 2em;
}

#login_heading {
  font-size: 4em;
  color: var(--black-olive);
}

#login_subheading {
  font-size: 1.5em;
  color: var(--light-grey);
}

#login_form_container {
  margin-bottom: 2em;
}

#login_form {
  display: flex;
  flex-direction: column;
}

#login_form > *:not(:last-child) {
  margin-bottom: 1.5em;
}

#login_feature_image {
  flex-grow: 1;
  border-radius: 1em;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) inset;
  background-color: rgba(168, 135, 120, 0.452);
  background-image: url("../images/desk.jpg");
  background-blend-mode: lighten;
}

@media only screen and (max-width: 950px) {
  #login_page {
    padding: 3em;
    background-size: cover;
    background-position: center;
    background-image: url("../images/desk.jpg");
  }
  #login_feature_image {
    display: none;
  }
  #login_dialog {
    border-radius: 1em;
    background-color: var(--cultured);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  }
  #login_heading {
    font-size: 3em;
  }
}

@media only screen and (max-width: 550px) {
  #login_page {
    padding: 0;
  }
  #login_dialog {
    width: 100%;
    border-radius: 0;
  }
}
